SSZ 555P/Web References/ReuseGrid/ygui_reuse_grid_variant_bind.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__YGUI_REUSE_GRID_VARIANT_BIND">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__YGUI_REUSE_GRID_VARIANT_BIND_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__YGUI_REUSE_GRID_VARIANT_WEBS">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>0050569B52901ED5BFB3A8BCF1BCE0D3</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__YguiReuseGridVariantWs">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char120">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="120" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char55">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="55" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="YguiFieldDescWs">
        <xsd:sequence>
          <xsd:element name="Typename" type="n0:char120" />
          <xsd:element name="Fieldname" type="n0:char120" />
          <xsd:element name="Inttype" type="n0:char1" />
          <xsd:element name="Intlen" type="n0:char6" />
          <xsd:element name="Fieldtext" type="n0:char60" />
          <xsd:element name="Reptext" type="n0:char55" />
          <xsd:element name="ScrtextS" type="n0:char10" />
          <xsd:element name="ScrtextM" type="n0:char20" />
          <xsd:element name="ScrtextL" type="n0:char40" />
          <xsd:element name="F4availabl" type="n0:char1" />
          <xsd:element name="ColPos" type="n0:char6" />
          <xsd:element name="NoOut" type="n0:char1" />
          <xsd:element name="Outputlen" type="n0:char6" />
          <xsd:element name="FontSize" type="tns:char2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string" />
          <xsd:element name="Number" type="tns:RfcException.Message.Number" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="YguiReuseGridVariantWs.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:YguiReuseGridVariantWs.RfcExceptions" />
          <xsd:element minOccurs="0" name="Text" type="xsd:string" />
          <xsd:element minOccurs="0" name="Message" type="tns:RfcException.Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="YguiFieldDescTabWs">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:YguiFieldDescWs" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="YguiReuseGridVariantWs.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="EndpointNotFound" />
          <xsd:enumeration value="FunctionAmbiguous" />
          <xsd:enumeration value="FunctionNotFound" />
          <xsd:enumeration value="IllegalType" />
          <xsd:enumeration value="InsufficientParameter" />
          <xsd:enumeration value="ParameterNotFound" />
          <xsd:enumeration value="ReadError" />
          <xsd:enumeration value="SaveError" />
          <xsd:enumeration value="SessionError" />
          <xsd:enumeration value="TypeNotDescribed" />
          <xsd:enumeration value="UnknownAction" />
          <xsd:enumeration value="VersionNotFound" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="YguiReuseGridVariantWs.Exception" type="tns:YguiReuseGridVariantWs.RfcException" />
      <xsd:element name="YguiReuseGridVariantWs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IAction" type="n0:char20" />
            <xsd:element name="IFuncMappedName" type="n0:char120" />
            <xsd:element name="IHandle" type="n0:char4" />
            <xsd:element name="IId" type="tns:char10" />
            <xsd:element name="IParamMappedName" type="n0:char120" />
            <xsd:element name="IShared" type="tns:char1" />
            <xsd:element minOccurs="0" name="ItVariantDescWs" type="tns:YguiFieldDescTabWs" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="YguiReuseGridVariantWsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EFound" type="tns:char1" />
            <xsd:element name="EtVariantDescWs" type="tns:YguiFieldDescTabWs" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="YguiReuseGridVariantWs">
    <wsdl:part name="parameters" element="tns:YguiReuseGridVariantWs" />
  </wsdl:message>
  <wsdl:message name="YguiReuseGridVariantWsResponse">
    <wsdl:part name="parameter" element="tns:YguiReuseGridVariantWsResponse" />
  </wsdl:message>
  <wsdl:message name="YguiReuseGridVariantWs.Exception">
    <wsdl:part name="YguiReuseGridVariantWs.Exception" element="tns:YguiReuseGridVariantWs.Exception" />
  </wsdl:message>
  <wsdl:portType name="YGUI_REUSE_GRID_VARIANT_WEBS">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://erp-dev.sapfir.local:8000/sap/bc/esdt/docu/sd_text?sap-client=400&amp;sd_name=YGUI_REUSE_GRID_VARIANT_WEBS" />
        <sapdoc:docitem applicationComponent="BC-FES-GUI" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__YGUI_REUSE_GRID_VARIANT_WEBS" />
    </wsp:Policy>
    <wsdl:operation name="YguiReuseGridVariantWs">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__YguiReuseGridVariantWs" />
      </wsp:Policy>
      <wsdl:input message="tns:YguiReuseGridVariantWs" />
      <wsdl:output message="tns:YguiReuseGridVariantWsResponse" />
      <wsdl:fault name="YguiReuseGridVariantWs.Exception" message="tns:YguiReuseGridVariantWs.Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YGUI_REUSE_GRID_VARIANT_BIND" type="tns:YGUI_REUSE_GRID_VARIANT_WEBS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__YGUI_REUSE_GRID_VARIANT_BIND" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YguiReuseGridVariantWs">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:YGUI_REUSE_GRID_VARIANT_WEBS:YguiReuseGridVariantWsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="YguiReuseGridVariantWs.Exception">
        <soap:fault use="literal" name="YguiReuseGridVariantWs.Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YGUI_REUSE_GRID_VARIANT_BIND_soap12" type="tns:YGUI_REUSE_GRID_VARIANT_WEBS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__YGUI_REUSE_GRID_VARIANT_BIND_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YguiReuseGridVariantWs">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:YGUI_REUSE_GRID_VARIANT_WEBS:YguiReuseGridVariantWsRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="YguiReuseGridVariantWs.Exception">
        <wsoap12:fault use="literal" name="YguiReuseGridVariantWs.Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YGUI_REUSE_GRID_VARIANT">
    <wsdl:port name="YGUI_REUSE_GRID_VARIANT_BIND" binding="tns:YGUI_REUSE_GRID_VARIANT_BIND">
      <soap:address location="http://erp-dev.sapfir.local:8000/sap/bc/srt/rfc/sap/ygui_reuse_grid_variant_webs/400/ygui_reuse_grid_variant/ygui_reuse_grid_variant_bind" />
    </wsdl:port>
    <wsdl:port name="YGUI_REUSE_GRID_VARIANT_BIND_soap12" binding="tns:YGUI_REUSE_GRID_VARIANT_BIND_soap12">
      <wsoap12:address location="http://erp-dev.sapfir.local:8000/sap/bc/srt/rfc/sap/ygui_reuse_grid_variant_webs/400/ygui_reuse_grid_variant/ygui_reuse_grid_variant_bind" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>