SSZ 555P/Web References/GetStatistics/ysfc_get_statistics_bind.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__YSFC_GET_STATISTICS_BIND">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__YSFC_GET_STATISTICS_BIND_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__YSFC_GET_STATISTICS_WEBS">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>0050569B52901ED5BFB3A8BCF1BCE0D3</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__YsfcGetStatisticsWs">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="shortString64">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4096">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4096" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="YafvcStatis2Ws">
        <xsd:sequence>
          <xsd:element name="Pernr" type="n0:char8" />
          <xsd:element name="Aufnr" type="n0:char12" />
          <xsd:element name="Vornr" type="n0:char4" />
          <xsd:element name="Isavd" type="n0:char10" />
          <xsd:element name="Ieavd" type="n0:char10" />
          <xsd:element name="PlanZeit" type="n0:char15" />
          <xsd:element name="FaktZeit" type="n0:char15" />
          <xsd:element name="OtklZeit" type="n0:char15" />
          <xsd:element name="ProzOtkl" type="n0:char15" />
          <xsd:element name="OzPol" type="n0:char15" />
          <xsd:element name="OzOtr" type="n0:char15" />
          <xsd:element name="Kol" type="n0:char15" />
          <xsd:element name="Fio" type="n0:shortString64" />
          <xsd:element name="Zech" type="n0:char40" />
          <xsd:element name="Doljnost" type="n0:char40" />
          <xsd:element name="Qmnum" type="n0:char12" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Maktx" type="n0:char40" />
          <xsd:element name="LineColor" type="n0:char4" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string" />
          <xsd:element name="Number" type="tns:RfcException.Message.Number" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="YsfcGetStatisticsWs.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:YsfcGetStatisticsWs.RfcExceptions" />
          <xsd:element minOccurs="0" name="Text" type="xsd:string" />
          <xsd:element minOccurs="0" name="Message" type="tns:RfcException.Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="YafvcStatis2TabWs">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:YafvcStatis2Ws" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="YsfcGetStatisticsWs.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="InvalidPeriod" />
          <xsd:enumeration value="SessionError" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="YsfcGetStatisticsWs.Exception" type="tns:YsfcGetStatisticsWs.RfcException" />
      <xsd:element name="YsfcGetStatisticsWs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IId" type="n0:char10" />
            <xsd:element name="IPeriod" type="n0:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="YsfcGetStatisticsWsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EPayslipUrl" type="tns:char4096" />
            <xsd:element name="EtStatDataWs" type="tns:YafvcStatis2TabWs" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="YsfcGetStatisticsWs">
    <wsdl:part name="parameters" element="tns:YsfcGetStatisticsWs" />
  </wsdl:message>
  <wsdl:message name="YsfcGetStatisticsWsResponse">
    <wsdl:part name="parameter" element="tns:YsfcGetStatisticsWsResponse" />
  </wsdl:message>
  <wsdl:message name="YsfcGetStatisticsWs.Exception">
    <wsdl:part name="YsfcGetStatisticsWs.Exception" element="tns:YsfcGetStatisticsWs.Exception" />
  </wsdl:message>
  <wsdl:portType name="YSFC_GET_STATISTICS_WEBS">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://erp-dev.sapfir.local:8000/sap/bc/esdt/docu/sd_text?sap-client=400&amp;sd_name=YSFC_GET_STATISTICS_WEBS" />
        <sapdoc:docitem applicationComponent="PP-SFC" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__YSFC_GET_STATISTICS_WEBS" />
    </wsp:Policy>
    <wsdl:operation name="YsfcGetStatisticsWs">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__YsfcGetStatisticsWs" />
      </wsp:Policy>
      <wsdl:input message="tns:YsfcGetStatisticsWs" />
      <wsdl:output message="tns:YsfcGetStatisticsWsResponse" />
      <wsdl:fault name="YsfcGetStatisticsWs.Exception" message="tns:YsfcGetStatisticsWs.Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YSFC_GET_STATISTICS_BIND" type="tns:YSFC_GET_STATISTICS_WEBS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__YSFC_GET_STATISTICS_BIND" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YsfcGetStatisticsWs">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:YSFC_GET_STATISTICS_WEBS:YsfcGetStatisticsWsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="YsfcGetStatisticsWs.Exception">
        <soap:fault use="literal" name="YsfcGetStatisticsWs.Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YSFC_GET_STATISTICS_BIND_soap12" type="tns:YSFC_GET_STATISTICS_WEBS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__YSFC_GET_STATISTICS_BIND_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YsfcGetStatisticsWs">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:YSFC_GET_STATISTICS_WEBS:YsfcGetStatisticsWsRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="YsfcGetStatisticsWs.Exception">
        <wsoap12:fault use="literal" name="YsfcGetStatisticsWs.Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YSFC_GET_STATISTICS">
    <wsdl:port name="YSFC_GET_STATISTICS_BIND" binding="tns:YSFC_GET_STATISTICS_BIND">
      <soap:address location="http://erp-dev.sapfir.local:8000/sap/bc/srt/rfc/sap/ysfc_get_statistics_webs/400/ysfc_get_statistics/ysfc_get_statistics_bind" />
    </wsdl:port>
    <wsdl:port name="YSFC_GET_STATISTICS_BIND_soap12" binding="tns:YSFC_GET_STATISTICS_BIND_soap12">
      <wsoap12:address location="http://erp-dev.sapfir.local:8000/sap/bc/srt/rfc/sap/ysfc_get_statistics_webs/400/ysfc_get_statistics/ysfc_get_statistics_bind" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>